* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body {
    background-color: white;
}

nav {
    display: flex;    
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background-color: #26262b;
    font-family: 'Poppins', sans-serif;
}
.logo {
    color: rgb(233, 233, 233);
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 18px;
    display: flex;    
    align-items: center;    
}
.img-logo {
    width: 60px;
}
.nav-links {
    display: flex;    
    justify-content: space-around;
    width: 35%;
}
.nav-links li {
    list-style: none;
}
.nav-links a {    
    color: rgb(233, 233, 233);
    text-decoration: none;
    letter-spacing: 3px;
    font-size: 12px;
}

.burger {
    display: none;
}

.burger div{
    width: 25px;
    height: 3px;
    margin: 5px;
    background-color: rgb(233, 233, 233);
    transition: all 0.3s ease;
}

.parallax {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;  
    background-attachment: fixed;
}


.home {
    background-image: url(../images/raining.gif);
    min-height: 92vh;
    
    display: grid;
    justify-content: center;
    align-items: center;
}
.context-home {
    color: rgb(233, 233, 233);
    font-family: 'Bebas Neue', cursive;
}
.context-home p, .context-home h1 {
    text-align: center;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
}
.context-home h1 {
    letter-spacing: 15px;
}
.context-home p {
    letter-spacing: 8px;
}


.about {
    min-height: 100vh;
    font-family: 'Poppins', sans-serif;
}
.context-about h2 {
    letter-spacing: 10px;
    font-weight: 100;
    text-transform: uppercase;
    margin: 50px;
    color: #313139;
    text-align: center;
}
.context-about div {
    margin: 10px 400px 30px 400px;
    text-align: justify;

    display: flex;
    justify-content: space-around;
}
.context-about-div2 img{
    height: 30vh;
}
.context-about-div2 img, .context-about-div2 p {
    margin: 30px;
}


.portfolio {
    min-height: 100vh;
}
.portfolio .p-image {
    background-image: url(../images/ybo.jpg);
    min-height: 30vh;

}


@media screen and  (max-width: 1500px) {
    .context-about div {
        margin: 10px 250px 30px 250px;
    }
}


@media screen and (max-width: 1280px) {
    .context-about div {
        margin: 10px 100px 30px 100px;
    }
}


@media screen and (max-width: 1024px) {
    .nav-links {
        width: 50%;
    }
}


@media screen and (max-width: 900px) {
    .context-about div {
        margin: 10px 50px 10px 50px;
    }
}


@media screen and (max-width: 768px) {
    body {
        overflow-x: hidden;
    }
    .nav-links {
        position: absolute;
        right: 0;
        height: 92vh;
        top: 8vh;
        background-color: #313139;
        display: none;
        flex-direction: column;
        align-items: center;
        width: 100%;
        transform: translateX(100%);
        transition: all 0.5s ease-in;
    }
    .nav-links li {
        opacity: 0;
    }
    .burger {
        display: block;
        cursor: pointer;
    }

    .context-about div {
        display: grid;
        justify-content: center;
    }
    .about .context-about-div1{
        display: none;
    }

    .context-about-div2 img{
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
}


@media screen and  (max-width: 550px) {
    .context-home h1 {
        font-size: 23px;
        letter-spacing: 5px;
    }
    .context-home p {
        font-size: 13px;
        letter-spacing: 3px;
    }
}


.nav-active {
    transform: translateX(0%);
    display: flex;
}

@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateX(100px);
    }
    to {
        opacity: 1;
        transform: translateX(0px);
    }
}

.toggle .line1 {
    transform: rotate(-45deg) translate(-5px, 6px);
}
.toggle .line2 {
    opacity: 0;
}
.toggle .line3 {
    transform: rotate(45deg) translate(-5px, -6px);
}