* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
    font-family: 'Poppins', sans-serif;
}

h1 {
    font-size: 2.3rem;
    letter-spacing: 1rem;
    text-transform: uppercase;
}
h2 {
    font-size: 1.8rem;
}
h3 {
    font-size: 1.5rem;
}
p {
    font-size: 1.5rem;
}
li {
    list-style: none;
}
a {
    text-decoration: none;
}
button {
    cursor: pointer;
}

nav {
    background-color: #313137;
    width: 100%;
    position: fixed;
    min-height: 8vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
}
.logo {
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.logo img{
    position: absolute;
    top: 0;
}
.logo h1 {
    letter-spacing: .2rem;
}
.nav-links {
    display: flex;
    justify-content: space-around;
    width: 30%;
}
.nav-links li a {
    color: rgba(255, 255, 255, .9);
    font-size: 1.3rem;
    letter-spacing: .3rem;
}
.nav-links li a:hover {
    color: rgba(255, 255, 255, 1);
}
.burger div {
    background-color: white;
    width: 2.5rem;
    height: .3rem;
    margin: .5rem;
    transition: all 0.3s ease;
}
.burger {
    display: none;
}

.intro-section {
    background-image: url(../img/raining.gif);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
    text-align: center;
}
.intro-section h1,
.portfolio-section h1 {
    font-size: 2.3rem;
    text-shadow: -1px 0px 0px white;
}
.intro-section h2 {
    letter-spacing: .7rem;
}

.about-section {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}
.about-section p {
    text-align: justify;
}
.about-section h1,
.contact-section h1 {
    text-shadow: -1px 0px 0px rgb(0, 0, 0);
}
.about-section div {
    display: flex;
    justify-content: space-around;
    width: 60%;
}
.about-section p {
    line-height: 2.5rem;
}
.about-section img {
    margin-right: 3rem;
}
.about-section p:nth-child(3) {
    display: flex;
    justify-self: space-around;
    width: 80%;
}

.portfolio-section {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: justify;
    background-color: black;
    color: white;
}
.portfolio-section .projects header {
    margin: 1rem;
}
.portfolio-section .projects {
    width: 60%;
    border-top: .1rem solid rgba(255, 255, 255, 0.5);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    min-height: 30vh;
}
.portfolio-section .project-links {
    display: flex;    
    flex-wrap: wrap;
    justify-content: space-around;
}
.portfolio-section .project-links a { 
    margin: 1rem;
    padding: 1rem;
    box-shadow: 0 0 3px rgba(255, 255, 255, 0.5);
}
.portfolio-section .essentials {
    min-height: 10vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 60%;
    box-shadow: 0px 1px 2px rgba(255, 255, 255, 0.8);
}
.portfolio-section .essentials div{
    display: flex;
    justify-content: space-around;
    width: 40%;
}
.portfolio-section h2,
.portfolio-section h3 {
    letter-spacing: 0.3rem;
}

.contact-section {
    min-height: 60vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.contact-section form {
    min-height: 40vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
}
.contact-section form label{
    font-size: 1.3rem;
    display: flex;
    justify-self: flex-start;
    width: 30%;
}
.contact-section form input,
.contact-section form textarea {
    display: flex;
    justify-self: space-around;
    width: 30%;
    padding: .5rem;
}
.contact-section form input {
    height: 3rem;
    
}
.contact-section form button {
    background: none;
    background-color: #313137;
    color: white;
    font-size: 2rem;
    text-align: center;
    margin-top: 1rem;
    padding: 0.8rem;
    border: 0.1rem solid black;
    width: 30%;
}
.contact-section form button:hover {
    background-color: rgba(0, 0, 0, 0.9)
}

footer {
    min-height: 8vh;
    background-color: #313137;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 1005px) {
    .nav-links {
        width: 40%;
    }
    
    .about-section div {
        flex-direction: column;
        align-items: center;
        width: 80%;
    }
    .about-section img,
    .about-section p {
        margin: 3rem 0;
    }

    .about-section p:nth-child(3) {
        display: none;
    }
    
    .portfolio-section .projects {
        width: 90%;
    }
    .portfolio-section .essentials {
        width: 90%;
    }
    .portfolio-section .essentials img{
        margin: .5rem;
    }
    .contact-section form label,
    .contact-section form input,
    .contact-section form textarea,
    .contact-section form button {
        width: 60%;
    }
}

@media screen and (max-width: 768px) {
    body {
        overflow-x: hidden;
    }
    .intro-section h1,
    .portfolio-section h1,
    .contact-section h1 {
        font-size: 2rem;
    }
    .intro-section h2 {
        font-size: 1.5rem;
        padding: 0 2rem;
    }
    .intro-section br {
        display: none;
    }
    .nav-links {
        position: absolute;        
        min-height: 92vh;
        top: 8vh;
        background-color: #242429;
        display: flex;
        flex-direction: column;
        align-items: center;        
        width: 100%;
        transform: translateX(100%);
        transition: all 0.3s ease-in;
    }
    .nav-links li {
        opacity: 0;
    }

    .burger {
        display: block;
        cursor: pointer;
    }
}

.nav-active {
    transform: translateX(0%);
}

@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateX(100px);
    }
    to {
        opacity: 1;
        transform: translateX(0px);
    }
}

.toggle .line1 {
    transform: rotate(-45deg) translate(-5px, 6px);
}
.toggle .line2 {
    opacity: 0;
}
.toggle .line3 {
    transform: rotate(45deg) translate(-5px, -6px);
}

